.campetition_filter{
    text-align: center;
    background: #FFADB0;
    border-radius: 0px 15px 15px 0px;
}
.campetition_filter_2{
    text-align: center;
    background: #FFADB0;
    border-radius: 15px 0px 0px 15px;
}