.caclculate_sticky{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    background: #FF3864;
    z-index: 99999;
}
.caclculate_sticky_2{
    width: 100%;
    height: 80px;
    position: fixed;
    bottom: 0;
    background: #D4B483;
    z-index: 99999; 
}
.name_cal_sticky{
    color:white;
    font-size:12px;
    position: absolute;
    top:23px;
    right:20px;
}

.price_cal_sticky{
    color:white;
    font-size:13px;
    position: absolute;
    top:23px;
    left:20px;
}

.payment_cal_sticky{
    color:white;
    font-size:22px;
    text-align: center;
    margin-top: 17px;
    font-weight: bold;
}
.br_col{
    border: .4px solid gray;
}
.td_tb{
    border: .4px solid gray;
    padding: 6px;
}
.v-expansion-panel-content__wrap{
    padding:5px;
}

.gun_select{
    width: 50%;
    text-align: center;
}

.gun_s{
    border: .4px solid gray;
    border-radius: 5px;
    background: #EDEBFF;
}